<table class="table">
    <tr>
        <th>Kategoria</th>
        <th>Data</th>
        <th>Kwota</th>
        <th>Opis</th>
        <th>Litry/KM</th>
        <th></th>
    </tr>
    <tr *ngFor="let wydatek of wydatki">
      <td>{{wydatek.kategoria}}</td>
      <td>{{wydatek.data | date:'dd.MM.yyyy'}}</td>
      <td class="text-sm-right">{{wydatek.kwota | number:'1.2-2'}} zł</td>
      <td>{{wydatek.opis}}</td>
      <td *ngIf="wydatek.ileKm && wydatek.ileLitrow && wydatek.kategoria=='Tankowanie'">{{wydatek.ileLitrow}}l / {{wydatek.ileKm}}km</td> 
      <td *ngIf="!wydatek.ileKm && wydatek.ileLitrow && wydatek.kategoria=='Tankowanie'">{{wydatek.ileLitrow}}l</td> 
      <td *ngIf="wydatek.ileKm && !wydatek.ileLitrow && wydatek.kategoria=='Tankowanie'">{{wydatek.ileKm}}km</td> 
      <td *ngIf="(!wydatek.ileKm && !wydatek.ileLitrow ) || (wydatek.kategoria!='Tankowanie')"></td>
</tr>

</table>